body {
	font-family: Noto Sans;
	font-size: 2vmin
}

a:link, a:visited { color:white; }

h1 {
	font-size: 2em;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
}

form * {
	font-size: 1.5em;
	padding: 0.5em;
}